.categories-accordion {
  text-align: left !important;
  /*border-bottom: 1px solid white;*/
  border-left:  var(--bs-border-width) solid var(--bs-border-color);
}
.categories-row {
  border-top: var(--bs-border-width) solid var(--bs-border-color);
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);

}
.accordion-button:not(.collapsed) {
  background-color: var(--bs-bg-dark) !important;
  color: var(--bs-text) !important;
}
.cat-acc-body {
  text-align: left;
  padding: 0 !important;
  padding-left: 20px !important;
}
@media screen and (orientation:portrait) {
  .categories-accordion {
    border-left: unset !important;
  }
  .sidebar{
    display:none;
  }
  .category-container {
    display: unset !important;
  }
  .content-container{
    left: unset !important;
    width: 100vw !important;
    max-width: 100vw !important;
  }
  .property-filter {
    display: block !important;
  }
}

@media screen and (orientation:landscape) {
  .content-container-large {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.property-filter {
  display: flex;
}

.category-container {
  display: none;
}

.sidebar {
  margin-top: 1rem;
  position: absolute;
  top: 43px;
  left: 0;
  min-height: calc(100vh - 59px) !important;
  max-height: calc(100vh - 59px) !important;
  z-index: 100;
  /*padding: 20px 0 0;*/
  max-width: 18rem;
  min-width: 18rem;
  border-right: 1px solid var(--bs-border-color);
  overflow-y: scroll;
  overflow-x: hidden;
}
.content-container {
  position: absolute;
  left: 19rem;
  top: 5rem;
  max-width: calc(100vw - 20rem);
  max-height: calc(100vh - 5rem) !important;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.content-container-large {
  left: unset !important;
  width: 100vw !important;
  max-width: 100vw !important;
}
.navbar {
  padding-left: 0!important;
  z-index: 900;
}
.navbar-container {
  max-width: 100% !important;
}
.search-bar {
  min-width: 40% !important;
}
.part-image {
  max-width: 80% !important;
  margin: auto !important;
}

.part-image-thumb-container {
  max-width: fit-content;
  width: 90px !important;
}

.part-image-thumb{
  width: 100% !important;
}

.property-table-name {
  width: auto;
  white-space: nowrap;
}

.property-table-value {
  width: 100%;
}
.sortbutton {
  padding: 0 !important;
}

.img-thumb {
  max-width: 4rem;
  min-width: 4rem;
}

.bom-pcb-image {
  max-width: 100%;
}

.red-circle {
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: -10px;
  z-index: 100;
  color: red;
  border-radius: 100%;
  border: 4px solid red;
}